<!-- search.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Image Search</title>
</head>
<body>
    <h1>Image Search</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if images %}
        <h2>Search Results:</h2>
        <ul>
            {% for image in images %}
                <li>{{ image.name }}</li>
                <img src="{{ image.image.url }}" alt="{{ image.name }}">
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>